.kanban-row {
  margin-right: -5px;
  margin-left: -5px;

  .kanban-col {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.kanban-item {
  cursor: pointer;
  background: white;
  border-bottom: solid $gray-300 1px;

  &:hover {
    background: $mild-yellow;
  }

  &:last-child {
    border: 0;
  }

  &.is-dragging {
    border: solid $gray-300 1px;
  }

  .ticket-content {
    background: $gray-100;
    padding: 0.5rem 1rem;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
